@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: blueviolet;
    font-size: 1.5rem;
}


.container{
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    max-width: 105rem;
    max-height: 60rem;

}
section{
   padding: 2rem;
    background-color: #fff;
    border-radius: .7rem;
    /* border: 1px solid; */
}

img{
    height: 2rem;
    width: 2rem;
}
.tools{
    width: 21rem;
    padding: 1.5rem 2.2rem 0;
    
}
.tools .row{

    margin-bottom: 2rem;
}
.row .options{
    list-style: none;
    margin: 1rem 0 0 .5rem;

}
.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 1rem;
}
.option:is(:hover, .active) img{
    filter: invert(70%) sepia(10%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span,label){
    cursor: pointer;
    color: #5A6168;
    padding-left: 1rem;
}
.option:is(:hover, .active) :where(span,label){
    color :#6c0ceb;
}
.option #fill-color{
    cursor: pointer;
    height: 1.4rem;
    width: 1.4rem;
}
.option #size-slider{
    width: 100%;
    height: .5rem;
    margin-top: 1rem;
}
.colors{
    display: flex;
    justify-content:baseline;
    padding: 2rem;
}


.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    background: none;
    border-radius: .5rem;
    cursor: pointer;

}
.buttons .clear-canvas{
    font-size: 1.5rem;
    color: #434c53;
    border: .1rem solid #6C757D;
    transition: all 0.3s ease;
}
.clear-canvas:hover{
    background: #0e24eb;;
}
.buttons .save-image{
    font-size: 1.5rem;
    background: #0e24eb;
    border: .1rem solid #0e24eb;
}

.draw{
    flex: 1;

}
.draw canvas{
    width: 100%;
    height: 100%;
}
.tools{
    background:rgb(241, 235, 226);
}

@media only screen and (max-width: 600px)
{
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width: 300px)
{
    html{
        font-size: 25%;
    }
}
